<<<<<<< HEAD
<div class="container container px-5 px-sm-0">
  <div class="row">
    <div class="col-3">
      <%=render "books/user info", user: @user %>
      <%=render "books/new book", book: @book %>
=======
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
>>>>>>> 0cf05d04bb43dbb35fb6ae67574f2a81a48de563
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
<<<<<<< HEAD
      <table class="table table-hover table-inverse ">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opnion</th>
          </tr>
        </thead>
        <tbody>
          <%=render "books/index", books: @books %>
        </tbody>
      </table>
=======
      <%= render 'index', books: @books%>
>>>>>>> 0cf05d04bb43dbb35fb6ae67574f2a81a48de563
    </div>
  </div>
</div>