<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="navbar-nav ml-auto">
          <% if user_signed_in? %>
             <li>
               <%=link_to user_path(current_user),class:'nav-link' do %><i class="fas fa-home" > Home</i><% end %>
             </li>
             <li>
               <%=link_to users_path,class:'nav-link' do %><i class="fas fa-users" > Users</i><% end %>
             </li>
             <li>
               <%=link_to books_path,class:'nav-link' do %><i class="fas fa-book-open" > Books</i><% end %>
             </li>
             <li>
               <%=link_to destroy_user_session_path,class:'nav-link',method: :delete do %><i class="fas fa-sign-out-alt" > logout</i><% end %>
             </li>
          <% else %>
            <li>
               <%=link_to root_path,class:'nav-link' do %><i class="fas fa-home" > Home</i><% end %>
            </li>
            <li>
               <%=link_to home_about_pat,class:'nav-link' do%><i class="fas fa-link" > About</i><% end %>
            </li>
            <li>
               <%=link_to new_user_registration_path,class:'nav-link' do%><i class="fas fa-user-plus" > sign up</i><% end %>
            </li>
            <li>
               <%=link_to new_user_session_path,class:'nav-link' do%><i class="fas fa-sign-in-alt" > login</i><% end %>
            </li>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class = "row">
          <div class ="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
